.sidebar {
	flex: 1;
	height: calc(100vh - 50px);
	background-color: #575757;
	position: sticky;
	top: 50px;
}

.sidebarWrapper {
	padding: 20px;
	color: #fcfcfc;
}

.sidebarMenu {
	margin-bottom: 10px;
}

.sidebarTitle {
	font-size: 13px;
	color: #fcfcfc;
}

.sidebarList {
	padding: 5px;
	list-style: none;
}

.link {
	color: inherit;
	text-decoration: none;
}

.sidebarListItem {
	padding: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
    background-color: #424242;
}

.sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
}
